.main-page {
  height: calc(100svh-);
  position: relative;
}

.article-part {
  width: 50%;
  gap: 36px;
}

.doctor-image {
  position: absolute;
  content: url('../../images/doctor-main-page.svg');
  right: 0;
  width: 50svw;
}

.doctor-image img {
  width: 100%;
  height: 100%;
}